:root {
    --white: #e2fdff;
    --main: #5465ff;
    --mainLight: #788bff;
    --details: #a480cf;
    --secondLight: #d264b6;
    --second: #ff499e;
    --dark: #14161d;
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;

}

body{
    background: var(--white);

}

main{
    margin: 0vh 2vw;
    box-shadow: var(--mainLight) 0px -6px 15px 3px;
    padding: 20px;
    margin-top: 70px;
}


h1, h2{
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 15%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

main section blockquote{
    width: 60%;
}
main section img{
    width: 40%;
}

/* MENU NAV */
nav {
    height: 0vh;
    width: 100%;
    top: 0;
    position: sticky;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    background: black;
}

nav > ul > li {
    position: relative;
    width: 25%;
    height: 100%;
}

nav > ul > li > a {
    text-align: center;
}


.menu-deroulant:hover .submenu{
    max-height: 5000px;
}





nav ul li a {
    color: red;
    width: 100%;
    display: inline-block;
}

.submenu {
    max-height: 0px;
    padding-left:  0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    transition: transform 1s ease-in-out;
    display: block;
    background-color: aqua;
}

nav li {
    list-style-type: none;
}


#pestel section{
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(6px + 3vh);
    position: relative;
}
#pestel section.pestel::before{
    content: '';
    position: absolute;
    
    border-image: linear-gradient(
        to right, 
        var(--secondLight), 
        var(--mainLight)
      )100% 1;
    border-style: solid;
    border-radius: 15px;
    width: calc(100% - (60px)*2);
    left: 60px;
}
#pestel section h2{
    flex-basis: 100%;
}
#pestel section blockquote{
    margin-left: 6vw;
    position: relative;
    padding: 10px;
}
#pestel section blockquote::after, #pestel section blockquote::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
#pestel section blockquote::after{
    position: absolute;
    border-left: 1px solid var(--dark);
    border-bottom:1px solid var(--dark);
    bottom: 0;
    left: 0;
}
#pestel section blockquote::before{
    position: absolute;
    border-top:1px solid var(--dark);
    border-right:1px solid var(--dark);
    top: 0;
    right: 0;
}
#pestel section P{
    line-height: 1.4rem;
}
#pestel section h2{
    margin-top: 2vh;
    margin-left: 2rem;
}
.input-container{
    margin-bottom: 3vh;
}
form{
    padding-top: 40px;
}
fieldset{
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 25px;
}
input{
    border-left: 1px solid var(--dark);
    border-right: 1px solid var(--dark);
}
input, textarea{
    transition: all 0.2s ease-in;
    padding: 10px;
    width: 100%;
    background-color: transparent;
    border-bottom: 4px solid var(--dark);
    font-size: 1.5rem;
    line-height: 2rem;
    border-radius: 16px;
}

textarea{
    border-left: 4px solid var(--dark);
    border-right: 4px solid var(--dark);
    
}
legend, label{
    font-size: 1.5rem;
}
input[type="submit"]{
    border-top: 4px solid wheat;
    background: tomato;
}
input[type="submit"]:hover{
    border-bottom: 4px solid wheat;
    border-top: 4px solid var(--dark);
    background: tomato;
}
@media screen and (max-width: 600px ) {
    main{
        margin: 0px;
    }
    #pestel section{
        display: block;
    }
    #pestel section blockquote{
        width: 90%;
    }
    
}