:root {
    --white: #e2fdff;
    --main: #5465ff;
    --mainLight: #788bff;
    --details: #a480cf;
    --secondLight: #d264b6;
    --second: #ff499e;
<<<<<<< HEAD
=======
    --dark: #14161d;
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
}

*, ::after, ::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
<<<<<<< HEAD
}

body {
    background: url(img/background3.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
}  


h1 {
    z-index: 1;
=======

}

body{
    background: var(--white);

>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
}

main{
    margin: 0vh 2vw;
    box-shadow: var(--mainLight) 0px -6px 15px 3px;
    padding: 10px;
<<<<<<< HEAD
    background-color: rgb(0, 0, 28);
}


main section{
    display: flex;
    flex-wrap: wrap;
}
main section h2{
    flex-basis: 100%;
}

h1, h2{
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 20%);
=======
}


h1, h2{
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 15%);
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

main section blockquote{
    width: 60%;
}
main section img{
<<<<<<< HEAD
    width: 40%;
=======
    width: 25%;
    margin: auto;
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
}

/* MENU NAV */
nav {
    height: 0vh;
    width: 100%;
    top: 0;
    position: sticky;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    background: black;
}

<<<<<<< HEAD
a.titre {
    margin:  20px 0px 20px 0px;
}



=======
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
nav > ul > li {
    position: relative;
    width: 25%;
    height: 100%;
}

nav > ul > li > a {
    text-align: center;
}


.menu-deroulant:hover .submenu{
    max-height: 5000px;
}


<<<<<<< HEAD
nav ul li a {
    color: transparent;
    font-size: 1.5vw;
    width: 100%;
    display: inline-block;
    -webkit-text-stroke: 0.5px var(--main);
=======



nav ul li a {
    color: red;
    width: 100%;
    display: inline-block;
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
}

.submenu {
    max-height: 0px;
    padding-left:  0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    transition: transform 1s ease-in-out;
    display: block;
<<<<<<< HEAD
    background: rgba(192, 192, 192, 0.3);
}
.submenu a {
    margin: 2vw 0vw 2vw 0px;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--main);
    -webkit-text-stroke: 1px var(--white);
}



header .navbar .logo {
    font-size: 30px;
    font-weight: bold;
	margin-left: 0.5vw;
    margin-top: 1vw;
	text-transform: uppercase;
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 20%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

=======
    background-color: aqua;
}
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c

nav li {
    list-style-type: none;
}

<<<<<<< HEAD
.navbar .menuburger {
    display: none;
    position: absolute;
    top: 30px;
    right: 35px;
    width: 55px;
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 1000px) {
    .c-header {
        width: 100%;
        height: 60px;
        position: fixed;
    }

    .c-btn-icon {
        position: absolute;
        top: 20px;
        left: 95vw;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    .c-btn-bar {
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: white;
        z-index: 2;
    }

    .c-btn-bar .nav-links {
        position: absolute;
    }

    .c-btn-bar--horizontal {
        position: relative;
        float: left;
        margin-top: 3px;
        transition: all .3s;
    }

    .c-btn-bar--diagonal {
        position: relative;
        float: left;
        transition: all .3s;
    }

    .c-btn-bar--diagonal.diagonal-1 {
        transition: all .3s;
    }

    .c-btn-bar--diagonal.diagonal-2 {
       margin-top: 3px;
       transition: all .3s;
    }

    

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--horizontal {
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-1 {
        transform: rotate(135deg);
        margin-top: 8px;
        transition: all .3s;
    }

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-2 {
       transform: rotate(-135deg);
       margin-top: -9px;
       transition: all .3s;
    }

    input[type="checkbox"]:checked ~ .nav-links {
        transform: translateX(0);
    }    

    .nav-links {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: rgba(255,255,255,0,70);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(-100vw);
        transition: transform 250ms ease-in-out;
        z-index: 1;
    }

    

    .nav-links .menu-deroulant li {
        display: none;
    }

    h1 {
        display: none;
    }


=======

#pestel section{
    display: flex;
    flex-wrap: wrap;
}
#pestel section h2{
    flex-basis: 100%;
}
#pestel section blockquote{
    margin-left: 6vw;
    position: relative;
    padding: 10px;
}
#pestel section blockquote::after, #pestel section blockquote::before{
    content: "";
    width: 30px;
    height: 30px;
    border-radius: 4px;
}
#pestel section blockquote::after{
    position: absolute;
    border-left: 1px solid var(--dark);
    border-bottom:1px solid var(--dark);
    bottom: 0;
    left: 0;
}
#pestel section blockquote::before{
    position: absolute;
    border-top:1px solid var(--dark);
    border-right:1px solid var(--dark);
    top: 0;
    right: 0;
}
#pestel section P{
    line-height: 1.4rem;
}
#pestel section h2{
    position: relative;
    margin-top: 10px;
}
#pestel section h2::after{
    content: '';
    position: absolute;
    border-width: 3px;
    
    border-image: linear-gradient(
        to right, 
        var(--secondLight), 
        var(--mainLight)
      )100% 1;
    border-style: solid;
    border-radius: 15px;
    width: calc(100% - (60px)*2);
    left: 60px;
}
@media screen and (max-width: 600px ) {
    main{
        margin: 0px;
    }
    #pestel section{
        display: inline-block;
    }
    #pestel section img{
        margin: 20px 0;
        width: 80%;
    }
    #pestel section blockquote{
        width: 90%;
    }
    
>>>>>>> 9b3937adeea9d040d0183b23396b499b0017005c
}