:root {
    --white: #e2fdff;
    --main: #5465ff;
    --mainLight: #788bff;
    --details: #a480cf;
    --secondLight: #d264b6;
    --second: #ff499e;
}

*, ::after, ::before{
    box-sizing: border-box;
    padding: 0;
    border: none;
    text-decoration: none;
    list-style: none;
}  

main{
    width: 100%;
    box-shadow: var(--mainLight) 0px -6px 15px 3px;
    padding: 10px;
    border: 10px solid violet;
    background-color: rgb(0, 0, 28);
}

main section p {
    color: #333;
}

main section{
    margin-top: 20vh;
    margin-left: 0;
    display: block;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
}

main section > h1 {
    padding-top: 10vh;
    margin-left: 33vw;
    margin-bottom: 1vh;
}



main section h2{
    flex-basis: 100%;
}

h1, h2{
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 20%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}

main section blockquote{
    width: 60%;
}

main img.logo-presentation{
    position: absolute;
    top: 13vh;
    left: 41vw;
    right: 0;
    bottom: 10vw;
    width: 10%;
}

#title-presentation {
    border-bottom: 3px solid white;
}

.timeline {
    position: relative;
    overflow-y: hidden;

}

.timeline-items::before {
    content: '';
    position: absolute;
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 20%);
    width: 3px;
    height: 100%;
    margin-left: 12.5vw;
}

.timeline-items {
    margin: 0 20vw;
}

.timeline-items-details {
    display: inline-block;
    margin-bottom: 3vw;
}

.timeline-items:first-child .timeline-items-details {
    margin-top: 4vw;
}

.timeline-items-details-date {
    display: flex;
    color: #FFF;
    font-size: 1.3em;
    margin-top: 30px;
}

.timeline-items-details-date, .timeline-items-details-marker, .timeline-items-details-description {
    float: left;
}

.timeline-items-details-marker {
    position: relative;
    z-index: 1;
    border-radius: 50%;
    background-color: rgb(0, 0, 28);
    width: 32px;
    height: 32px;
    border: 3px solid #FFF;
    margin-top: 1.5vw;
    margin-left: 9vw;
    transition: transform .3s, background-color .3s;
}

.timeline-items-details:hover  .timeline-items-details-marker {
    transform: scale(1.2);
    background-color: #FFF;
}

.timeline-items-details-description {
    padding: 16px;
    color: #333;
    background-color: #FFF;
    width: 10vw;
    border-radius: 5px;
    margin-left: 4vw;
    margin-top: -2vw;
    margin-bottom: 5vw;
    word-wrap: break-word;
}

.timeline-items-details-description::before {
    content: '';
    position: absolute;
    background-color: #FFF;
    width: 70px;
    height: 3px;
    margin-left: -80px;
    margin-top: 3.5vw;
    align-items: center;
}


/* MENU NAV */
nav {
    height: 0vh;
    width: 100%;
    top: 0;
    position: sticky;
}

nav > ul {
    display: flex;
    justify-content: space-around;
    background: black;
}

a.titre {
    margin:  20px 0px 20px 0px;
}



nav > ul > li {
    position: relative;
    width: 25%;
    height: 100%;
}

nav > ul > li > a {
    text-align: center;
}


.menu-deroulant:hover .submenu{
    max-height: 5000px;
}

nav ul li a {
    color: transparent;
    font-size: 1.5vw;
    width: 100%;
    display: inline-block;
    -webkit-text-stroke: 0.5px var(--main);
}

.submenu {
    max-height: 0px;
    padding-left:  0;
    text-align: center;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: 1000;
    transition: transform 1s ease-in-out;
    display: block;
    background: rgba(192, 192, 192, 0.3);
}
.submenu a {
    margin: 2vw 0vw 2vw 0px;
    font-size: 1.5vw;
    font-weight: bold;
    color: var(--main);
    -webkit-text-stroke: 1px var(--white);
}



header .navbar .logo {
    font-size: 30px;
    font-weight: bold;
	margin-left: 0.5vw;
    margin-top: 1vw;
	text-transform: uppercase;
    background: linear-gradient(0.25turn, var(--second) 0, var(--secondLight) 10% , var(--details) 20%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    -webkit-text-fill-color: transparent;
}


nav li {
    list-style-type: none;
}

.navbar .menuburger {
    display: none;
    position: absolute;
    top: 30px;
    right: 35px;
    width: 55px;
}

input[type="checkbox"] {
    display: none;
}

@media screen and (max-width: 1000px) {
    .c-header {
        width: 100%;
        height: 60px;
        position: fixed;
    }


    .logo-presentation {
        display: none;
    }

    .c-btn-icon {
        position: absolute;
        top: 20px;
        left: 95vw;
        width: 22px;
        height: 22px;
        cursor: pointer;
    }

    .c-btn-bar {
        position: absolute;
        width: 20px;
        height: 3px;
        background-color: white;
        z-index: 2;
    }

    .c-btn-bar .nav-links {
        position: absolute;
    }

    .c-btn-bar--horizontal {
        position: relative;
        float: left;
        margin-top: 3px;
        transition: all .3s;
    }

    .c-btn-bar--diagonal {
        position: relative;
        float: left;
        transition: all .3s;
    }

    .c-btn-bar--diagonal.diagonal-1 {
        transition: all .3s;
    }

    .c-btn-bar--diagonal.diagonal-2 {
       margin-top: 3px;
       transition: all .3s;
    }

    

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--horizontal {
        opacity: 0;
    }

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-1 {
        transform: rotate(135deg);
        margin-top: 8px;
        transition: all .3s;
    }

    input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-2 {
       transform: rotate(-135deg);
       margin-top: -9px;
       transition: all .3s;
    }

    input[type="checkbox"]:checked ~ .nav-links {
        transform: translateX(0);
    }    

    .nav-links {
        display: flex;
        position: fixed;
        flex-direction: column;
        background-color: rgba(255,255,255,0,70);
        backdrop-filter: blur(8px);
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        transform: translateX(-100vw);
        transition: transform 250ms ease-in-out;
        z-index: 1;
    }

    

    .nav-links .menu-deroulant li {
        display: none;
    }

    h1 {
        display: none;
    }


}