:root {
  --white: #f8eaea;
  --main: #7e1c0b;
  --mainLight: #8f3c2d;
  --details: #e29a3c;
  --secondLight: #b85f44;
  --second: #c94d27;
  --dark: #14161d;
  --grey: #444444;
  --redLight: #f43b47;
  --blueLight: #453a94;
}

*, ::after, ::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  
}

body{
  background: var(--white);
  
}

main{
  margin: 0vh 2vw;
  box-shadow: var(--mainLight) 0px -6px 15px 3px;
  padding: 20px;
  margin-top: 70px;
}


h1, h2{
  background-image: linear-gradient(to top, var(--redLight) 0%, var(--blueLight) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.presentation  h1 {
  margin: 2vh 0 2vh 0;
}

.presentation > p {
  margin: 10px;
}


/* HEADER */
nav {
  height: 0vh;
  width: 100%;
  top: 0;
}
.navbar {
  position: absolute;
}

.nav-links {
      display: flex;
      position: fixed;
      background-color: var(--white);
      backdrop-filter: blur(8px);
      width: 100%;
      height: 70px;
      z-index: 10;
  }



nav > ul {
  justify-content: space-around;
  background: var(--dark);
}

a.titre {
  margin:  20px 0px 20px 0px;
}

a.titre:hover {
  color: black;
}


nav > ul > li {
  position: relative;
  width: 25%;
  height: 100%;
}

nav > ul > li > a {
  text-align: center;
}


.menu-deroulant:hover .submenu{
  max-height: 5000px;
}

nav ul li a {
  color: transparent;
  font-size: 1.5vw;
  width: 100%;
  display: block;
  -webkit-text-stroke: 0.5px black;
}

.submenu {
  max-height: 0px;
  padding-left:  0;
  text-align: center;
  width: 100%;
  overflow: hidden;
  position: absolute;
  z-index: 10;
  transition: transform 1s ease-in-out;
  display: inline-block;
  background: white;
}
.submenu a {
  margin: 2vw 0vw 2vw 0px;
  font-size: 1.5vw;
  color: black;
}

.submenu li {
  border-bottom: 4px solid;
  border-color: black;
}

.submenu a:hover {
  background-image: linear-gradient(to top, var(--redLight) 0%, var(--blueLight) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}



header .navbar .logo {
  font-size: 30px;
  font-weight: bold;
margin-left: 0.5vw;
  margin-top: 1vw;
text-transform: uppercase;
  background: linear-gradient(to left, var(--redLight) 0%, var(--blueLight) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}


nav li {
  list-style-type: none;
}

.navbar .menuburger {
  display: none;
  position: absolute;
  top: 30px;
  right: 35px;
  width: 55px;
}

input[type="checkbox"] {
  display: none;
}

@media screen and (max-width: 1000px) {


  
  .logo {
    margin-bottom: 3vh;
  }

  .c-header {
      width: 100%;
      height: 60px;
      position: fixed;
  }

  main {
    margin-top: 0;
  }

  .c-btn-icon {
      position: fixed;
      z-index: 15;
      top: 20px;
      left: 92vw;
      width: 32px;
      height: 32px;
      cursor: pointer;
  }

  .c-btn-bar {
      position: absolute;
      width: 20px;
      height: 3px;
      background-color: var(--grey);
      z-index: 2;
      margin-bottom: 2px;
      align-items: center;
  }

  .c-btn-bar .nav-links {
      position: absolute;
  }

  .c-btn-bar--horizontal {
      position: fixed;
      float: left;
      margin-top: -4px;
      margin-bottom: 5px;
      transition: all .3s;
  }

  .c-btn-bar--diagonal {
      position: fixed;
      float: left;
      transition: all .3s;
  }

  .c-btn-bar--diagonal.diagonal-1 {
      transition: all .3s;
      margin-top: 10px;
  }

  .c-btn-bar--diagonal.diagonal-2 {
     margin-top: 3px;
     transition: all .3s;
     margin-bottom: 10px;
  }

  

  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--horizontal {
      opacity: 0;
  }

  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-1 {
      transform: rotate(135deg);
      margin-top: 8px;
      transition: all .3s;
  }

  input[type="checkbox"]:checked ~ .c-btn-icon > .c-btn-bar--diagonal.diagonal-2 {
     transform: rotate(-135deg);
     margin-top: 8px;
     transition: all .3s;
  }

  input[type="checkbox"]:checked ~ .nav-links {
      transform: translateX(0);
  }    

  .navbar {
    position: absolute;
  }

  .nav-links {
      display: flex;
      position: fixed;
      flex-direction: column;
      background-color: var(--white);
      backdrop-filter: blur(8px);
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
      transform: translateX(-100vw);
      transition: transform 250ms ease-in-out;
      z-index: 1;
  }

  

  .nav-links .menu-deroulant li {
      display: none;
  }

  .presentation p {
    min-width: 20vw;
  }
  

}